<!doctype html>
<html>
<head>
  <title>Popup</title>
</head>
<body>
  <div id="child_popup">I am popup</div>
  <div id="post_data"><%= @q %></div>
  <a id="close" href="javascript:window.close()">Close</a>
</body>
</html>